body{
/*    !*background-color: rosybrown;*!*/
    background-image: url("rss/img/img2.jpg");
}

.container{
    background-color: rgba(231,229,229,0.8);
    border-radius: 9px;
}

.container + .container {
    margin-top: 30px;
}

h1{
    font-family: 'Fredericka the Great', cursive;
    font-size: 35px;
}
h5,h2{
    font-family: 'Fredericka the Great', cursive;
    font-size: 25px;
}

a{
    color : black;
}

a:hover {
    color : #d46172;

}
a:active  {
    color : purple;

}

#titre_web{
    margin: 10px auto ;
}

ul{
    list-style: none;
    line-height: 40px;
    font-family: 'Special Elite', cursive;

}

label{
    font-size: 20px;
    font-family: 'Rye', cursive;
}

.nom_film,.membre_nom,.nom_salle,#nom_prenom{
    font-family: 'Cinzel Decorative', cursive;
    font-size: 20px;
}

.resum_film,.membre_vile,.membre_cp,.salle_siege,.salle_etage,#titre_film,#date_vu{
    padding: 15px;
    font-family: 'Special Elite', cursive;
    color: #757575;
}
#titre_film,#date_vu{
    font-weight: bold;
}
#genre_film , #distrib_film,.membre_abo,#avis_film{
    font-family: 'Special Elite', cursive;
    font-size: 15px;
    list-style: none;
}

.button {
    font-family: 'Rye', cursive;
    background-color: #cbb9b3;
    border-radius: 10px;
    height: 70px;
    width: 150px;
}
.button:hover {
    font-weight: bold;
    background-color: #a0928d;
}
.button:active {
    font-weight: bold;
    background-color: #a08a9b;
}
.historique{
    font-family: 'Love Ya Like A Sister', cursive;
}
